<title>{{{title}}}</title>
<div class="col-lg-12 col-sm-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Top 10 sản phẩm</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên mặt hàng</th>
                        <th scope="col">Gian hàng</th>
                        <th scope="col">Đơn vị tính</th>
                        <th scope="col">Đã bán</th>




                    </tr>
                </thead>
                <tbody>
                    {{#each topproduct}}
                    <tr>
                        <th scope="row">{{{i}}}</th>
                        <td>{{{name}}}</td>
                        <td>{{{catname}}}</td>
                        <td>{{{unit}}}</td>
                        <td>{{{sold}}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>

